:root {
    --bg-color: #1a1a1a;
    --fg-color: white;
}
body {
    color: blue;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 20px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
}